@model CreateProductViewModel

@{
    Layout = null; // Prevent layout from being rendered twice
}

<h2>Skapa ny produkt</h2>

<form id="createProductForm" novalidate>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" type="text" class="form-control" name="name" id="name" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" type="text" class="form-control" name="description" id="description" required/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
@*    <div class="form-group">
        <label asp-for="Images" class="control-label"></label>
        <input asp-for="Images" type="file" class="form-control" name="images" id="images" multiple />
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>*@
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" type="text" class="form-control" name="price" id="price" required />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="InStock" class="control-label"></label>
        <input asp-for="InStock" type="number" class="form-control" name="instock" id="instock" required />
        <span asp-validation-for="InStock" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" onclick="CreateProductPost()">Submit</button>
    </div>
</form>
