@{
    ViewData["Title"] = "WebShop";
}

<h1>WebShop</h1>

<div>
    <nav>
        <a>List of products</a>
        <a>List of orders</a>
        <a>Mina sidor</a>
        <a>Kundvagn</a>
    </nav>
</div>

<div id="result"></div>
