@{
    ViewData["Title"] = "SkiShop";
}

<h1>SkiShop</h1>

<header class="skishop-header">
    <div class="banner">
        <img src="images/BannerVerbier.jpg">
    </div>
    <partial name="~/Views/Shared/_UserNavigation.cshtml" />
    <partial name="~/Views/Shared/_AdminNavigation.cshtml" />
</header>

<div id="result"></div>