@{
    ViewData["Title"] = "SkiShop";
}


<header class="skishop-header">
<h1>SkiShop</h1>
    <partial name="~/Views/Shared/_UserNavigation.cshtml" />
    <partial name="~/Views/Shared/_AdminNavigation.cshtml" />
    <div class="banner">
        <img src="images/BannerVerbier.jpg">
    </div>
</header>

<div id="result"></div>