@model AllOrdersViewModel

@{
    Layout = null; // Prevent layout from being rendered twice
}

<h2>Ordrar</h2>

@if (Model.CustomerOrders.Any())
{
<div class="list orders">
    @foreach (CustomerOrderViewModel customerOrder in Model.CustomerOrders)
    {
        <partial name="~/Views/Shared/_OrderItem.cshtml" model="customerOrder" />
    }
</div>
}

else
{
    <p>List has no items.</p>
}