@model ProductsViewModel

@{
    Layout = null; // Prevent layout from being rendered twice
}

<h2>Products</h2>

@if (Model.Products.Any())
{
<div class="list products">
    @foreach (Product product in Model.Products)
    {
        <partial name="~/Views/Shared/_ProductItem.cshtml" model="product" />
    }
</div>
}

else
{
    <p>List has no items.</p>
}