@model Product

@{
    Layout = null; // Prevent layout from being rendered twice
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <button type="button" class="btn btn-warning" onclick="UpdateProduct(@Model.Id)">Redigera produkt</button>
}