html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.skishop-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

img {
    max-width: 100%;
}

.banner {
    width: 100%;
    text-align: center;
}

.banner img {
    width: 800px;
    height: 250px;
}

.menu {
    display: inline-block;
}

.menu ul {
    display: flex;
    list-style-type: none;
    /*justify-content: space-between;*/
}

.menu li {
    margin-right: 1em;
}

.menu li:hover {
    font-weight: bold;
    cursor: pointer;
}

#result {
    width: 100%;
}

.list.products {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.list.products .img {
    width: 150px;
    margin-right: 1em;
    margin-bottom: 1em;
}